<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>app-etapa3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GOJIRA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
  alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC2EU1fyQE7kpZpPIJBv1PxSSkUPInq0pKbcffnf0ofSSgnvdD6frzCtomC13KZmvEMhU&usqp=CAU">
  </ion-img>


  <ion-title class="titulo">Gojira</ion-title>
    <p>Gojira é uma banda francesa de metal formada em 1996, conhecida por seu som pesado, técnico e ao mesmo tempo melódico. Misturam death metal, progressivo e groove metal, com letras focadas em temas como ecologia, espiritualidade e existência humana. Os irmãos Joe e Mario Duplantier lideram a banda, com Joe nos vocais e guitarra e Mario na bateria.
    Álbuns como From Mars to Sirius, The Way of All Flesh e Magma consolidaram o Gojira como uma das bandas mais respeitadas do metal moderno, elogiada tanto pela crítica quanto pelos fãs.</p>
</ion-content>