<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EUA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TOOL</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
  alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC2EU1fyQE7kpZpPIJBv1PxSSkUPInq0pKbcffnf0ofSSgnvdD6frzCtomC13KZmvEMhU&usqp=CAU">
  </ion-img>


  <ion-title class="titulo">TOOL</ion-title>
    <p>TOOL é uma banda norte-americana de metal progressivo/alternativo formada em 1990, conhecida por sua música complexa, letras filosóficas e apresentações visuais impactantes. Seu som combina riffs pesados, estruturas musicais não convencionais e letras introspectivas, explorando temas como evolução espiritual, psicologia e crítica social.</p>
</ion-content>