<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>etapa1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">KGLW</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img
  alt="" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcStyLHJzE_l9727P9MpNDBbBD39HoPlFUj9YZQiirl-E86w5K-hkw8SqKYmOUe3l6uhV_lhC6i4Jkjlh0iPczFK_A">
  </ion-img>


  <ion-title class="titulo">King Gizzard & The Lizard Wizard</ion-title>
    <p>King Gizzard & the Lizard Wizard é uma banda australiana formada em 2010, conhecida por sua criatividade e versatilidade. Misturam diversos estilos como rock psicodélico, garage rock,Z prog rock, metal e até jazz e folk. Famosos por lançarem muitos álbuns em pouco tempo, eles são elogiados pela inovação musical e performances ao vivo intensas. Cada disco costuma ter um conceito ou estilo próprio, tornando a banda imprevisível e única. </p>
</ion-content>